@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    <div class="column deck-list-wrapper">
        <div class="deck-list">
            <div class="row soft-grey-color">
                <span>
                    <div id="greeting" class="font-noto review-greeting row">
                        おはよう!
                    </div>
                    <div class="review-header">What would you like to study?</div>
                </span>
            </div>
            <!-- All -->
            <button class="review-all row accent-bg card">
                <h1 class="white-color">Review All</h1>
                <table class="review-preview">
                    <tr>
                        <th>New</th>
                        <th>Learning</th>
                        <th>Due</th>
                    </tr>
                    <tr>
                        <td class="review-new">@Model.CardReviewSummary.New</td>
                        <td class="light-grey-color">0</td>
                        <td class="review-due">@Model.CardReviewSummary.Due</td>
                    </tr>
                </table>
            </button>
            <!-- Decks -->
            @if (Model.DeckReviewSummaries.Count == 0)
            {
                <br />
                <p class="light-grey-color text-center">You don't have any decks yet. Create one <a href="#" class="bold accent-color">here</a>.</p>
            }
            else
            {
                @foreach (var deck in Model.DeckReviewSummaries)
                {
                    <div class="deck-item card">
                        <div class="deck-item-left row">
                        <div class="deck-name">@deck.DeckName</div>
                        <div class="row gap-10">
                            <div class="review-preview">
                                <span class="review-new"> @deck.CardReviewSummary.New</span>
                                <span class="light-grey-color"> 0 </span>
                                <span class="review-due"> @deck.CardReviewSummary.Due</span>
                            </div>
                        </div>
                        </div>
                        <button class="deck-item-right" type="button">
                            Review
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    // Adjust greeting based on current time
    var greeting = document.getElementById("greeting");
    
    let now = new Date();
    if (now.getHours() < 10)
        greeting.textContent = "おはよう!";
    else if (now.getHours() < 17) 
        greeting.textContent = "こんにちは!"; 
    else
        greeting.textContent = "こんばんは!";
</script>
